.App {
  font-family: sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  margin: auto;
}

.list-item-inline {
  display: inline;
}

.songs-card {
  list-style: none;
  padding: 1rem;
  border: 1px solid rgb(209, 213, 219);
  width: 70%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
}

.genre-btn {
  cursor: pointer;
  background: rgb(229, 231, 235);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 1rem 0.3rem;
}

.description {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.song-name {
  font-size: larger;
}

.artist-name {
  font-size: smaller;
}
